header {
  padding: 30px 25px;
}

.container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.list {
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
  background: #eee;
  min-height: 300px;
}

.list ul {
  padding-left: 15px;
  margin-top: 20px;
}

.alphabetize-instruction {
  visibility: hidden;
  text-align: right;
  font-style: italic;
  color: #007edf;
}

/* for checkbox */
.alpha {
  position: absolute;
  right: 40px;
}

.sort-instruction {
  font-style: italic;
}

.btn-primary {
  background-color: #00aeef;
  border-color: #00778f;
}

.btn-primary:hover {
  background-color: #0099af;
  border-color: #00778f;
}
